<div class="container bg-light" style="padding: 2rem 0rem 4rem">
  <div class="row p-3" *ngFor="let i of tarray(3)">
    <div class="col-md-4" *ngFor="let i of tarray(3)">

      <div class="card"
        style="box-shadow: 0 4px 8px 0 rgba(194, 194, 194, 0.2), 0 6px 20px 0 rgba(194, 194, 194, 0.19);">
        <img src="https://getuikit.com/v2/docs/images/placeholder_600x400.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>

          <div class="d-flex justify-content-between">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-secondary btn-sm">View</button>
              <button type="button" class="btn btn-outline-secondary btn-sm">Edit</button>
            </div>
            <p class="text-muted small">
              9 mins
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>