<div style="background-color: white;">
  <div class="container text-center" 
  style="max-width: 40rem; padding: 100px;">
    <h1 class="display-4" style="font-size: 40px">Album example</h1>

    <p class="lead text-muted">
      Something short and leading about the collection below—its contents,
      the creator, etc. Make it short and sweet, but not too short so folks don't
      simply skip over it entirely.
    </p>

    <button class="btn btn-primary m-1">
      Main call to action
    </button>
    <button class="btn btn-secondary">
      Secondary action
    </button>
  </div>
</div>